:root{
  --base03: #1b1b1b;
  --base02: #252525;
  --base01: #676767;
  --base00: #747474;
}
body{
  background-color: white;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  margin : auto;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}


.StocksPanel{
  display: grid;
  grid-gap:1px;
  grid-template-columns: repeat(3, 1fr);
}

.Chart{
  padding:10px;
  height:20%;
  width:30%;
}

.ControlPanel{
  float: left;
  border-radius: 25px;
  border: 4px solid var(--base03);
  padding: 20px;
  width: 33%;
}

.Settings{

}

.StockPicker{

}

.Searchbar{

}

.Stocklist{

}







.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

