:root{
  --base03:             #1b1b1b;
  --base02:             #252525;
  --base01:             #676767;
  --base00:             #747474;
  --accent00:           #01579b;
  --accent01:           #039be5;
  --accent02:           #03a9f4;
}
body{
  background-color:     white;
}

.App {
  text-align:             center;
  align-items:            center;
  display:                grid;
  grid-template-columns:  1fr 3fr;
  grid-template-rows:     1fr;
  grid-template-areas:    'aside main';
  flex-flow:              row wrap;
  margin:                 auto;
  padding:                10px;
}

.StocksPanel{
  grid-area:              main;
  display:                block;
  width:                  100%;
  
}

.StocksPanel .Chart{
  display:                inline-block;
  vertical-align:         top;
  width:                  auto;
}

.ControlPanel{
  grid-area:              aside;
  border-radius:          25px;
  border:                 4px solid var(--base03);
  padding:                20px;
}

.ControlPanel ul li button{
  background:             transparent;

}

.Stocklist ul{
  max-height:             calc(100vh -180px);
  list-style-type:        none;
  flex-wrap:              wrap;
}

.Chosen-stocks ul button{
  background:             var(--accent00);
}
.Chosen-stocks ul button:hover{
  background:             var(--accent01);
}

.Available-stocks ul button:hover{
  background:             var(--accent02);
}
