:root{
  --base03:             #131313;
  --base02:             #1b1b1b;
  --base01:             #252525;
  --base00:             #424242;
  --accent00:           #01579b;
  --accent01:           #039be5;
  --accent02:           #03a9f4;
  --font:               #ffffff;
}
body{
  background-color:       var(--base02);
  color:                  var(--font);
}

.App {
  text-align:             center;
  align-items:            flex-start;
  align-content:          flex-start;
  overflow-wrap:          break-word;
  display:                flex;
  flex-direction:         row;
}

.StocksPanel{
  margin:                 0;
  padding:                0;
}

.StocksPanel .Chart{
  display:                inline-block;
  background:             var(--base01);
  padding:                5px;
  border:                 2px solid var(--base03);
  border-radius:          20px;
}

@media only screen and (max-width: 600px){
  .App{
    flex-direction:       column;
  }
  .StocksPanel, .ControlPanel{
    flex:                 0 0 auto;
  }
}

.ControlPanel{
  width:                  20%;
  border-radius:          20px;
  border:                 2px solid var(--base03);
  padding:                10px;
  background:             var(--base01);
}

input{
  width:                  95%;
}

.StockPicker ul{
  max-height:             calc(100vh -180px);
  list-style-type:        none;
  flex-wrap:              wrap;
  padding:                0;
  border:                 0;
}
button{
  display:                inline-block;
  width:                  100%;
  background:             var(--base00);
  color:                  var(--font);
}

button:active{
  position:               relative;
  top:                    1px;
}
.Chosen-stocks ul{
  margin-bottom: 0;
}

.Chosen-stocks ul button{
  background:             var(--accent00);
}
.Chosen-stocks ul button:hover{
  background:             var(--accent01);
}

.Search-stocks ul{
  margin-top:0;
}

.Search-stocks ul button:hover{
  background:             var(--accent02);
}
.Settings {
  margin-bottom:          10px;
}

.Settings p{
  margin:                 0;
}